<ul class="mb-10">
  {{#each projects}}
  <li class="px-5 flex h-12 items-center text-gray-600 cursor-pointer font-body project-item" id="{{@key}}" >
    <p class="project-name flex-auto">{{name}}</p>
    {{#unless @first}}
    <img src="images/edit-icon.svg" class="edit-project-button icon">
    <img src="images/delete-icon.svg" class="delete-project-button icon ml-4">
    {{/unless}}
    <div class="edit-project" style="display: none">
      <input type="color" value="{{color}}">
      <input type="text" value="{{name}}">
      <button>Edit</button>
    </div>
  </li>
  {{/each}}
</ul>

<form id="project-form" class="flex flex-wrap px-5 mt-5">
  <div class="flex-auto bg-white cursor-pointer flex" id="color-drop-down">
    <div class="rounded-full h-8 w-8 border-solid border-2 border-blue-200 bg-red-600 m-auto"></div>
  </div>
  <input type="text" id="project-name-input" class="flex-auto px-2 h-10 bg-gray-200 appearance-none text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" placeholder="Project Name" autocomplete="off">
  <button id="add-project-button" class="flex-auto bg-blue-700 focus:outline-none text-white h-10 px-3 font-bold">+</button>
  <ul class="flex-shrink flex flex-wrap bg-white rounded p-1 my-1 invisible w-56" id="colors-container">
    <li data-value="#e53e3e" class="color-option rounded-full mr-1 mb-1 h-8 w-8 border-solid border-2 cursor-pointer border-blue-200 bg-red-600"></li>
    <li data-value="#319795" class="color-option rounded-full mr-1 mb-1 h-8 w-8 border-solid border-2 cursor-pointer border-blue-200 bg-teal-600"></li>
    <li data-value="#d53f8c" class="color-option rounded-full mr-1 mb-1 h-8 w-8 border-solid border-2 cursor-pointer border-blue-200 bg-pink-600"></li>
    <li data-value="#38a169" class="color-option rounded-full mr-1 mb-1 h-8 w-8 border-solid border-2 cursor-pointer border-blue-200 bg-green-600"></li>
    <li data-value="#dd6b20" class="color-option rounded-full mr-1 mb-1 h-8 w-8 border-solid border-2 cursor-pointer border-blue-200 bg-orange-600"></li>
    <li data-value="#d69e2e" class="color-option rounded-full mr-1 mb-1 h-8 w-8 border-solid border-2 cursor-pointer border-blue-200 bg-yellow-600"></li>
    <li data-value="#5a67d8" class="color-option rounded-full mr-1 mb-1 h-8 w-8 border-solid border-2 cursor-pointer border-blue-200 bg-indigo-600"></li>
    <li data-value="#805ad5" class="color-option rounded-full mr-1 mb-1 h-8 w-8 border-solid border-2 cursor-pointer border-blue-200 bg-purple-600"></li>
  </ul>
</form>
