<ul class="mb-5">
  {{#each projects}}
  <li class="px-5 flex h-12 items-center text-gray-600 cursor-pointer font-body project-item" id="{{@key}}" >
    <p class="project-name flex-auto">{{name}}</p>
    {{#unless @first}}
    <img src="images/edit-icon.svg" class="edit-project-button icon">
    <img src="images/delete-icon.svg" class="delete-project-button icon ml-4">
    {{/unless}}
    <div class="edit-project" style="display: none">
      <input type="color" value="{{color}}">
      <input type="text" value="{{name}}">
      <button>Edit</button>
    </div>
  </li>
  {{/each}}
</ul>

<form id="project-form" class="flex flex-wrap px-5 mt-5">
  <input type="color" id="project-color-input" class="h-10 flex-initial focus:outline-none bg-gray-200" list="rainbow">
  <input type="text" id="project-name-input" class="h-10 flex-1 bg-gray-200 appearance-none px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" placeholder="Project Name">
  <button id="add-project-button" class="w-full bg-green-500 focus:outline-none text-white h-10">Add Project</button>
</form>
