
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
/* 'Work Sans', sans-serif; */

/* 
Side Bar Projects 
*/

.delete-project-button {
  display: none;
}

.edit-project-button {
  display: none;
}

.project-item:hover .edit-project-button,
.project-item:hover .delete-project-button {
  display: inline;
}

.icon {
  cursor: pointer;
  height: 20px;
}

.active-project {
  border-left: 4px solid #284AF6;
  color: #284AF6;
  font-weight: 600;
  font-size: 1.1em;
  padding-right: -10px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.logo {
  height: 100px;
}

.hero {
  background-image: linear-gradient(225deg,
    rgba(109, 015, 135, 0.8) 0%, rgba(108, 45, 157, 0.8) 10%, rgba(104, 67, 179, 0.8) 20%, rgba(100, 87, 199, 0.8) 30%,
    rgba(88, 106, 218, 0.8) 40%, rgba(79, 107, 223, 0.8) 50%, rgba(67, 108, 229, 0.8) 60%, rgba(51, 109, 234, 0.8) 70%,
    rgba(40, 93, 227, 0.8) 80%, rgba(33, 76, 219, 0.8) 90%, rgba(31, 57, 210, 0.8) 100%),
    url(../images/header.jpg);
}