@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 10vh;
}

/* 
Side Bar Projects 
*/

.delete-project-button {
  display: none;
}

.project-item:hover .delete-project-button {
  display: inline;
}

.icon {
  cursor: pointer;
}