@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Side Bar Projects 
*/

.delete-project-button {
  display: none;
}

.project-item:hover {
  cursor: pointer;
}

.project-name {
  display: flex;
  align-items: center;
}

.project-item:hover .delete-project-button {
  display: inline;
}

.icon {
  cursor: pointer;
}

.active-project {
  background-color: #6b46c1;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
}