@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 10vh;
}

/* 
Side Bar Projects 
*/

.delete-project-button {
  display: none;
}

.project-item:hover {
  cursor: pointer;
}

.project-name {
  display: flex;
  align-items: center;
}

.project-item:hover .delete-project-button {
  display: inline;
}

.icon {
  cursor: pointer;
}

.active-project {
  background-color: #6b46c1;
}