<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
  </head>
  <body>

    <div class="grid-container">

      <nav class="navbar" id="projects">
        <ul>
        {{#each .}}
          <li class="project-item" id="{{@key}}">
            <p class="project-name">{{name}}</p>
            <button class="btn delete-project-button">Delete</button>
          </li>
        {{/each}}
        </ul>

        <form id="project-form">
          <input type="text" id="project-name-input">
          <input type="color" id="project-color-input">
          <button  id="add-project-button">Add Project</button>
        </form>
      </nav>

      <div id="content" class="content">
        <div id="tasks" class="tasks">
        </div>
      </div>

    </div>
  </body>
</html>