<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
  </head>
  <body>

    <div class="grid-container">

      <nav class="navbar" id="projects">
        <ul>
        {{#each .}}
          <li class="project-item">
            <p>{{name}}</p>
            <button id="{{key}}">X</button>
          </li>
        {{/each}}
        </ul>
      </nav>

      <div id="content" class="content">
        <div id="tasks" class="tasks">
        </div>
      </div>

    </div>
  </body>
</html>