<section>
  <form class="edit-task-form" id="{{index}}">
    <input type="text" name="title" id="title" value="{{title}}">
    <input type="text" name="description" id="description" value="{{description}}">
    <input type="date" name="dueDate" id="due-date" value="{{dueDate}}">
    <button>Edit</button>
  </form>
</section>
