<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
  </head>
  <body>

    <div class="grid-container">
      <h1>Projects</h1>
      <span class="icon"><i class="fas fa-plus-circle"></i></span>
      <section>
        <section class="projects" id="projects">
        </section>
      </section>

      <div id="content" class="content">
        <div id="tasks" class="tasks">
        </div>
        <div id="edit-task"></div>
      </div>

    </div>
  </body>
</html>