<ul>
  {{#each projects}}
  <li class="project-item" id="{{@key}}">
    <p class="project-name">{{name}}</p>
    {{#unless @first}}
    <span class="delete-project-button icon">&#10006;</span>
    <span class="edit-project-button icon">&#9998;</span>
    {{/unless}}
    <div class="edit-project" style="display: none">
      <input type="color" value="{{color}}">
      <input type="text" value="{{name}}">
      <button>Edit</button>
    </div>
  </li>
  {{/each}}
</ul>

<form id="project-form">
  <input type="text" id="project-name-input">
  <input type="color" id="project-color-input">
  <button id="add-project-button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Add Project</button>
</form>