<ul>
  {{#each .}}
  <li class="project-item" id="{{@key}}">
    <p class="project-name">{{name}}</p>
    {{#unless @first}}
      <button class="btn delete-project-button">Delete</button>
    {{/unless}}
  </li>
  {{/each}}
</ul>

<form id="project-form">
  <input type="text" id="project-name-input">
  <input type="color" id="project-color-input">
  <button id="add-project-button">Add Project</button>
</form>