<ul>
  {{#each projects}}
  <li class="project-item px-4 flex h-12 hover:bg-gray-800 text-white font-bold border-b border-gray-500" id="{{@key}}">
    <p class="project-name flex-auto">{{name}}</p>
    {{#unless @first}}
    <span class="delete-project-button icon p-2">&#10006;</span>
    <span class="edit-project-button icon p-2">&#9998;</span>
    {{/unless}}
    <div class="edit-project" style="display: none">
      <input type="color" value="{{color}}">
      <input type="text" value="{{name}}">
      <button>Edit</button>
    </div>
  </li>
  {{/each}}
</ul>

<form id="project-form" class="flex flex-wrap px-4 mt-5">
  <input class="flex-1 shadow appearance-none border text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="project-name-input">
  <input class="flex-initial border focus:outline-none focus:shadow-outline" type="color" id="project-color-input">
  <button id="add-project-button" class="w-full shadow bg-blue-500 hover:bg-blue-600 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4">Add Project</button>
</form>