{{#each tasks}}
<div id={{@key}} class="task-item">
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  <p>{{dueDate}}</p>
  <button class="task-delete-button">X</button>
  <button class="task-edit-button">Edit</button>
</div>
{{/each}}

<form id="task-form">
  <input type="text" placeholder="Task title" class="task-title">
  <input type="text" placeholder="Task description" class="task-desc">
  <input type="date" class="task-due">
  <button>Add Event</button>
</form>